@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,600&display=swap');

@font-face {
    font-family: pacita;
    src: url(fontes/pecita/Pecita.ttf);
}

@font-face {
    font-family: CleanDirty;
    src: url(fontes/CleanDirty/CleanDirty.ttf);
}

@font-face {
    font-family: Mites;
    src: url(fontes/Dust-mites/Dust\ Mites.ttf);
}

@font-face {
    font-family: Lacquer;
    src: url(fontes/Lacquer/Lacquer-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor-bgHeader: #0C0C0F;
    --cor-bgMain: #1F1F29;
    --cor-bgListaOptions: #101014;
    --cor-bgSelectLista: #13131A;


    --cor-kokushibo--1: #150B05;
    --cor-kokushibo--2: #9E1931;
    --cor-kokushibo--3: #a51127;
    --cor-kokushibo--4: #F5C651;

    --cor-douma--1: #CEB394;
    --cor-douma--2: #c9bb6c;
    --cor-douma--3: #76b4ee;
    --cor-douma--4: #f52559;

    --cor-akaza--1: #5C6F7A;
    --cor-akaza--2: #424f5f;
    --cor-akaza--3: #0F274D;
    --cor-akaza--4: #F9FAD6;

    --cor-hantengu--1: #5F0B13;
    --cor-hantengu--2: #3A2327;
    --cor-hantengu--3: #ece7ea;
    --cor-hantengu--4: #101012;

    --cor-gyokko--1: #C87F57;
    --cor-gyokko--2: #ad2091;
    --cor-gyokko--3: #FBCCB5;
    --cor-gyokko--4: #FCCAB2;

    --cor-gyutaro--1: #33b613;
    --cor-gyutaro--2: #4C2A1D;
    --cor-gyutaro--3: #F3A686;
    --cor-gyutaro--4: #ca0bba;


    --fonte--1: pacita;
    --fonte--2: CleanDirty;
    --fonte--3: Mites;
    --fonte--4: Lacquer;

}

@keyframes selectionRace{
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
        box-shadow: 0 0 10px red;
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
        box-shadow: 0 0 10px red;
    }

    100% {
        transform: scale(1);
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-bgHeader);
    width: 100%;
    height: 100px;
    padding: 0px 15px;
}

#logoRace {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    padding: 0px 25px 0 0;
    height: 100%;
}
#logo {
    display: grid;
    place-items: center;
    width: 30%;
    height: 100%;
}
#logo img {
    width: 92px;
    cursor: pointer;
}


#race {
    display: grid;
    place-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.315);
    width: 30%;
    height: 100%;

}
#race img {
    width: 58px;
    border-radius: 5px;
}

#race img:hover {
    animation: selectionRace ease-in-out infinite 1s;
    cursor: pointer;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 70%;
}

#searchInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: relative;

}
#search input {
    width: 220px;
    height: 40px;
    font-size: 18px;
    padding-left: 30px;
    background: var(--cor-bgListaOptions);
    color: darkgray;
    border: 2px solid darkgray;
    border-radius: 10px;
    outline: 0;
}
.fa-magnifying-glass {
    color: darkgray;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 28px;
    left: 50px;
}

#searchContent {
    width: 100%;
    height: 40px;
    background-color: red;
}


#main {
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--cor-bgMain);
}

#mainExplanation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#mainExplanationCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 25px 50px 0px 85px;
    margin: auto;
    height: auto;
    border-bottom: 1px solid gray;
}

#explanationImg {
    width: 350px;
}

#explanationImg img {
    width: 100%;
}

#explanationText {
    width: 650px;
    color: wheat;
    font-size: 16px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.507);
}

#moonGridDemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);      
    gap: 15px 0px ;
    padding: 25px;

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.moon {
    width: 220px;
    height: 350px;
    background: #262831;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 10px #0000005d;
    transition: .5s;
    border: 2px solid black;
    border-radius: 10px;
}
.moon:hover {
    border-top: 5px solid wheat;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
}

.moonDivContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, black 20%, transparent);
    color: wheat;
    padding: 15px;
    transition: .5s;
    visibility: hidden;
    margin-bottom: -100%;
}
.moon:hover  .moonDivContent {
    visibility: visible;
    cursor: pointer;
    margin-bottom: 0;
    border: 0px 1px 1px 1px solid wheat;
}

.moonKokushibo {
    background: url(imagens/NEW/Upper_One-kokushibo.jpg) center ;
    background-size: cover;
}

.moonDoma {
    background: url(imagens/NEW/Upper_Six_Doma_29.webp) center; 
    background-size: cover;
}

.moonAkaza {
    background: url(imagens/NEW/Upper_Six_Akaza.jpg) center;
    background-size: cover;
}

.moonHantengu {
    background: url(imagens/NEW/Upper_Four_Hantengu.jpg) center;
    background-size: cover;
}

.moonGyokko {
    background: url(imagens/NEW/Upper_Five-Gyokko.webp) center;
    background-size: cover;
}

.moonGyutaro {
    background: url(imagens/NEW/gyutaro-demon-slayer.webp) center;
    background-size: cover;
}

.moonDaki {
    background: #FF5794 url(imagens/NEW/Daki-821x1024.webp) center;
    background-size: cover;
}

.moonKaigaku {
    background: url(imagens/NEW/Upper_six_Kaigaku.jpg) center;
    background-size: cover;
}


#footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--cor-bgHeader);
    width: 100%;
    height: 360px;
}

#footer h3 {
    color: darkgray;
    border-bottom: 2px solid gray;
}

#footerGuias {
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: transparent;
    margin: 10% 0% 10% 25%;
    border-right: 1px solid gray;
}

#footerGuiaDemon {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footerGuiaHashira {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}


.footerLinkA {
    color: darkgray;
    text-decoration: none;
}

.footerLinkA:hover {
    color: gray;
    text-decoration: underline;
}


#footerSocial {
    background-color: transparent;
    margin: 10% 25% 10% 0%;
}
