@charset 'utf-8';
@font-face {
    font-family: pacita;
    src: url(fontes/pecita/Pecita.ttf);
}

@font-face {
    font-family: CleanDirty;
    src: url(fontes/CleanDirty/CleanDirty.ttf);
}

@font-face {
    font-family: Mites;
    src: url(fontes/Dust-mites/Dust\ Mites.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

@keyframes identifierTitulo {
    0% {
        height: 0px;
    }
    25% {
        height: 25px;
    }
    50% {
        height: 45px;
    }
    75% {
        height: 25px;
    }
    100% {
        height: 0px;
    }
}

@keyframes mudança {
    0% {
        border-radius: 0px 0px 0px 0px;
    }

    25% {
        border-radius: 15px 5px 25px 15px;
        font-family: var(--fonte--1);
    }

    50% {
        border-radius: 20px 10px 35px 20px;


    }

    75% {
        border-radius: 10px 5px 25px 12px;
        font-family: var(--fonte--3);
    }

    100% {
        border-radius: 0px 0px 0px 0px;
    }
}

:root {
    --cor-kokushibo--1: #150B05;
    --cor-kokushibo--2: #9E1931;
    --cor-kokushibo--3: #B8031F;
    --cor-kokushibo--4: #F5C651;

    --cor-douma--1: #CEB394;
    --cor-douma--2: #c9bb6c;
    --cor-douma--3: #76b4ee;
    --cor-douma--4: #f52559;

    --cor-akaza--1: #5C6F7A;
    --cor-akaza--2: #4E5F73;
    --cor-akaza--3: #0F274D;
    --cor-akaza--4: #F9FAD6;

    --cor-hantengu--1: #5F0B13;
    --cor-hantengu--2: #3A2327;
    --cor-hantengu--3: #220E17;
    --cor-hantengu--4: #101012;

    --cor-gyokko--1: #C87F57;
    --cor-gyokko--2: #ad2091;
    --cor-gyokko--3: #FBCCB5;
    --cor-gyokko--4: #FCCAB2;

    --cor-gyutaro--1: #33b613;
    --cor-gyutaro--2: #4C2A1D;
    --cor-gyutaro--3: #F3A686;
    --cor-gyutaro--4: #ca0bba;


    --fonte--1: pacita;
    --fonte--2: CleanDirty;
    --fonte--3: Mites;


}

body {
    background-color: black;
}

#header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 71, 71);
    color: wheat;
    font-size: 1.5em;
    font-family: var(--fonte--1);
    border-bottom: 5px solid wheat;
    width: 100%;
    height: 175px;
}

header h1 {
    position: relative;
}

header h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 125%;
    height: 0px;
    background-color: wheat;
    animation: identifierTitulo .5s 1 ease-in-out;
}

#aside {
    width: 25%;
    height: 100vh;
    background-color: darkgray;
    padding: 15px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0; /*ALTERAR* -25vw
    opacity: 1; /*alterar*/ 
}

#nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;

    position: relative;
}

#nav::after {
    content: '';
    opacity: 0.2;
    height: 100%;
    width: 50px;
    background-color: wheat;
    
    position: absolute;
    top: 0;
    right: -65px;
}

#nav a {
    background-color: blue;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 15px;
}

a#aKokushibo {
    background-image: linear-gradient(45deg, var(--cor-kokushibo--2) 50%, var(--cor-kokushibo--1));
}

#aDoma {
    background-image: linear-gradient(45deg, var(--cor-douma--2), var(--cor-douma--3) 50%, var(--cor-douma--4));
}

#aAkaza {
    background-image: linear-gradient(45deg, var(--cor-akaza--1), var(--cor-akaza--3));
}

#aHantengu {
    background-image: linear-gradient(45deg, var(--cor-hantengu--1), var(--cor-hantengu--4));
}

#aGyokko {
    background-image: linear-gradient(45deg, var(--cor-gyokko--1) 50%, var(--cor-gyokko--2));
}

#aGyutaro {
    background-image: linear-gradient(45deg, var(--cor-gyutaro--1), var(--cor-gyutaro--2));
}

#aKokushibo:hover {
    animation: mudança .5s 1;
    border-radius: 10px;
}

#aDoma:hover {
animation: mudança .5s 1;
border-radius: 10px;
}

#aAkaza:hover {
animation: mudança .5s 1;
border-radius: 10px;
}

#aHantengu:hover {
animation: mudança .5s 1;
border-radius: 10px;
}   

#aGyokko:hover {
animation: mudança .5s 1;
border-radius: 10px;
}

#aGyutaro:hover {
animation: mudança .5s 1;
border-radius: 10px;
}







#secMain {
    display: flex;
    align-items: end;
    justify-content: end;
    background: black url(imagens/Infinitefortres.gif) no-repeat;
    background-size: cover;
    color: wheat;
    width: 100%;
    height: 600px;
}

#secMain h2 {
    padding: 15px;
    width: 50%;
    background-color: black;
    text-align: center;
}




