@media screen and (max-width: 1024px) {
    /* HEADER */

    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);      
    }

    #moonGridSlayer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);      
    }
    
    .moon {
        width: 220px;
        height: 350px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 5px 10px #0000005d;
        transition: .5s;
        border: 2px solid black;
        border-radius: 10px;
    }
}





@media screen and (max-width: 768px) {
    /* HEADER */


    #search {
        margin-left: 0;
        position: relative;
        border: none;
    }
    #searchInputDiv {
        width: 40%;
        margin: 0 auto;
    }
    #searchInput input {
        display: block;
        position: fixed;
        z-index: 3;
        background-color: var(--cor-bgListaOptions);
        top: 99px;
        left: 100%;
        transition: .1s;
        width: 100%;
        padding-left: 5px;
    }
    .fa-magnifying-glass {
        position: static;
        font-size: 20px;
    }

    #searchContent {
        top: 114px;
        width: 100%;
    }

    #race {
        order: 1;
    }


    /* MAIN */
    #mainExplanation {
        display: none;
    }

    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: auto;
    }

    #moonGridSlayer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: auto;
    }

    .moon {
        width: 220px;
        height: 350px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 5px 10px #0000005d;
        transition: .5s;
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 30px;
    }



    /* FOOTER */
    #footerWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
        padding: 50px 25px;
    }

    #footerSocial {
        margin-top: 25px;
    }

    #footerSocial > h3, p {
        display: none;
    }
}




@media screen and (max-width: 425px) {
    /* HEADER */
    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--cor-bgHeader);
        width: 100%;
        height: 70px;
    }

    #race {
        order: 1;
        margin-left: 0;
    }

    #race img {
        width: 40px;
        border-radius: 5px;
    }

    #search {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 100%;
    }

    #search input {
        width: 100%;
        top: 71px;
    }
    .fa-magnifying-glass {
        left: 25px;
    }

    #searchContent {
        width: 425px;
        left: -160px;
    }
    
    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }
    
    #moonGridSlayer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;

    }

    .moon {
        width: 165px;
        height: 271px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 5px 10px #0000005d;
        transition: .5s;
        border: 2px solid black;
        border-radius: 10px;
    }


    /* FOOTER */
    #footerWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 80%;
        margin: auto;
        padding: 50px 25px;
    }
    
    #footerGuias {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    #resources {
        margin-top: 25px;
        text-align: center;
        margin-left: 0;
    }

    #footerSocial {
        margin-top: 25px;
        text-align: center;
    }
    
    #footerSocial > h3, p {
        display: none;
    }
    
    #footerSocialIcon {
        justify-content: center;
    }
}



@media screen and (max-width: 375px) {
    /* HEADER */
    #searchContent {
        width: 375px;
        left: -140px;
    }
    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }

    #moonGridSlayer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }
    
    .moon {
        width: 150px;
        height: 256px;
    }
}



@media screen and (max-width: 320px) {
     /* HEADER */
     #header {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--cor-bgHeader);
        width: 100%;
        height: 70px;
    }

    #race img {
        width: 35px;
        border-radius: 5px;
    }

    #searchContent {
        width: 320px;
        left: -125px;
    }
    
    /* MAIN */
    #moonGridRaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }
    
    .moon {
        width: 115px;
        height: 185px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 5px 10px #0000005d;
        transition: .5s;
        border: 2px solid black;
        border-radius: 10px;
    }
}