@media screen and (max-width: 900px) {
    /* HEADER */

    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);      
    }
    
    .moon {
        width: 220px;
        height: 350px;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 5px 10px #0000005d;
        transition: .5s;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media screen and (max-width: 800px) {
    /* HEADER */
    #logoRace {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        padding: 0px 25px 0 0;
        height: 100%;
    }

    #search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 70%;
    }

    #search input {
        width: 100%;
    }
    .fa-magnifying-glass {
        left: 25px;
    }


    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);      
    }


    #footerWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
        padding: 50px 25px;
    }

    #footerSocial {
        margin-top: 25px;
        width: 50%;
    }
    
    #footerSocial >  h3,  p {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    /* HEADER */


    /* MAIN */
    #mainExplanation {
        display: none;
    }




    #footerWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
        padding: 50px 25px;
    }

    #footerSocial {
        margin-top: 25px;
        width: 50%;
    }

    #footerSocial > h3, p {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    /* HEADER */
    #logoRace {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 65%;
        padding: 0px 25px 0 0;
        height: 100%;
    }

    #search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 70%;
    }

    #search input {
        width: 100%;
    }
    .fa-magnifying-glass {
        left: 25px;
    }
    
    /* MAIN */
    #moonGridDemon {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: auto;
    }
    

    #footerWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 80%;
        margin: auto;
        padding: 50px 25px;
    }
    
    #footerGuias {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-right: none;
        margin-right: 0;
    }

    #resources {
        margin-top: 25px;
        text-align: center;
        margin-left: 0;
    }

    #footerSocial {
        margin-top: 25px;
        text-align: center;
        width: 50%;
    }
    
    #footerSocial > h3, p {
        display: none;
    }
    
    #footerSocialIcon {
        justify-content: center;
    }
}