@charset 'utf-8';

@font-face {
    font-family: blood-crow;
    src: url(../fontes/Font/blood-crow.ttf);
}

@font-face {
    font-family: NES-logo;
    src: url(../fontes/nes-logo/NES-Logo.ttf);
}

@font-face {
    font-family: lacquer;
    src: url(../fontes/Lacquer/Lacquer-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../fontes/Quicksand/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--fonte--4);
}

:root {
    --cor-bgHeader: #0C0C0F;
    --cor-bgMain: #1F1F29;
    --cor-bgListaOptions: #101014;
    --cor-bgSelectLista: #13131A;
    --cor-bgFooter: #131314;
    --cor-descriptionFont: #9E9E9E;


    --cor-kokushibo--1: #150B05;
    --cor-kokushibo--2: #9E1931;
    --cor-kokushibo--3: #a51127;
    --cor-kokushibo--4: #F5C651;

    --cor-doma--1: #CEB394;
    --cor-doma--2: #c9bb6c;
    --cor-doma--3: #76b4ee;
    --cor-doma--4: #f52559;

    --cor-akaza--1: #5C6F7A;
    --cor-akaza--2: #424f5f;
    --cor-akaza--3: #0F274D;
    --cor-akaza--4: #F9FAD6;

    --cor-hantengu--1: #5f2d0b;
    --cor-hantengu--2: #2c3a23;
    --cor-hantengu--3: #ece7ea;
    --cor-hantengu--4: #101012;

    --cor-gyokko--1: #C87F57;
    --cor-gyokko--2: #ad2091;
    --cor-gyokko--3: #FBCCB5;
    --cor-gyokko--4: #FCCAB2;

    --cor-gyutaro--1: #33b613;
    --cor-gyutaro--2: #4C2A1D;
    --cor-gyutaro--3: #F3A686;
    --cor-gyutaro--4: #ca0bba;

    --cor-daki--1: #D84DDF;
    --cor-daki--2: #7A3284;
    --cor-daki--3: #940C56;
    --cor-daki--4: #F8F3A3;

    --cor-kaigaku--1: #B8FFFE;
    --cor-kaigaku--2: #26E7F2;
    --cor-kaigaku--3: #FFFE05;
    --cor-kaigaku--4: #E7C09E;

    --cor-shinobu--1: #5739DD;
    --cor-shinobu--2: #AA73DB;
    --cor-shinobu--3: #C69CF0;
    --cor-shinobu--4: #F9F7FC;

    --cor-rengoku--1: #AC1506;
    --cor-rengoku--2: #A75317;
    --cor-rengoku--3: #F69C2A;
    --cor-rengoku--4: #FEF5D2;

    --cor-tokito--1: #2B4F7A;
    --cor-tokito--2: #51ABB8;
    --cor-tokito--3: #4CBAEC;
    --cor-tokito--4: #F4E7E2;

    --cor-gyomei--1: #998F37;
    --cor-gyomei--2: #E33222;
    --cor-gyomei--3: #424242;
    --cor-gyomei--4: #E6CB9E;

    --cor-obanai--1: #EFD263;
    --cor-obanai--2: #66CBAE;
    --cor-obanai--3: #363643;
    --cor-obanai--4: #FEEDE6;

    --cor-tengen--1: #C8E55F;
    --cor-tengen--2: #BE2B51;
    --cor-tengen--3: #E5C857;
    --cor-tengen--4: #DAE9F2;

    --cor-sanemi--1: #97F16C;
    --cor-sanemi--2: #FDFEF9;
    --cor-sanemi--3: #25443C;
    --cor-sanemi--4: #F9D9C1;

    --cor-yoriichi--1: #863145;
    --cor-yoriichi--2: #FB7EC5;
    --cor-yoriichi--3: #A37E85;
    --cor-yoriichi--4: #FDECD9;

    --cor-mitsuri--1: #F6BFDD;
    --cor-mitsuri--2: #C776A6;
    --cor-mitsuri--3: #C6E574;
    --cor-mitsuri--4: #F9E3D2;

    --cor-giyu--1: #388B56;
    --cor-giyu--2: #EBB85C;
    --cor-giyu--3: #5D7078;
    --cor-giyu--4: #2191FD;

    --cor-tanjiro--1: #863145;
    --cor-tanjiro--2: #FB7EC5;
    --cor-tanjiro--3: #5BB087;
    --cor-tanjiro--4: #FDECD9;

    --cor-zenitsu--1: #FCEC91;
    --cor-zenitsu--2: #E7AC70;
    --cor-zenitsu--3: #EF935A;
    --cor-zenitsu--4: #EFF8E4;

    --cor-inosuke--1: #BAAC91;
    --cor-inosuke--2: #2B5778;
    --cor-inosuke--3: #C7847C;
    --cor-inosuke--4: #B4EA7C;


    --fonte--1: blood-crow;
    --fonte--2: NES-logo;
    --fonte--3: lacquer;
    --fonte--4: quicksand;

}

@keyframes selectionRace{
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
        box-shadow: 0 0 10px red;
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
        box-shadow: 0 0 10px red;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes informationTieH1 {
    0% {
        background-color: white;
        width: 100%;
        transform: scale(0);
        margin-left: 0;
    }

    50% {
        background-color: white;
        width: 50%;
        width: 130%;
        transform: scale(0.5);
        margin-left: 0;
    }

    100% {
        background-color: white;
        width: 0%;
        transform: scale(1);
    }
}

@keyframes detailsTieP {
    0% {
        width: 0%;
    }
    
    50% {
        width: 100%;
    }
    
    100% {
        width: 50%;
    }
}

@keyframes animaçãoEstatisticaAtivar {
    from {
        opacity: 0;
        transform: translate3d(-20px, -5px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);        
    }
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    background: var(--cor-bgMain);
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: var(--cor-descriptionFont);
    
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-bgHeader);
    width: 100%;
    height: 100px;
}

#headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

#logo {
    display: grid;
    place-items: center;
}
#logo img {
    width: 64px;
    cursor: pointer;
}


#race {
    display: grid;
    place-items: center;
    margin-left: 32px;
}
#race img {
    width: 48px;
    border-radius: 5px;
}
#race img:hover {
    animation: selectionRace ease-in-out infinite 1s;
    cursor: pointer;
}

#search {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 5px;

    position: relative;
}
#searchInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}
#search input {
    width: 220px;
    height: 40px;
    font-size: 18px;
    background: transparent;
    color: darkgray;
    outline: 0;
}
#searchLabelDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.fa-magnifying-glass {
    color: darkgray;
    width: 18px;
    height: 18px;
}

#searchContent {
    position: absolute;
    top: 57px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 0 0 20px 20px;
    background: var(--cor-bgListaOptions);
}

.OptionSelection {
    width: 100%;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.OptionSelection:hover {
    background-color: var(--cor-bgSelectLista);
}


#main {
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--cor-bgMain);
}

#mainExplanation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#mainExplanationCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    padding: 5px 50px 0px 85px;
    margin: auto;
    height: auto;
    border-bottom: 1px solid gray;
}

#h1MainTitleDiv {
    width: 100%;
    height: 50px;
    color: gray;
}

#h1MainTitleDiv h1 {
    text-align: center;
    font-size: 36px;
    font-family: var(--fonte--1);
}

#mainExplanationDemon {
    width: 100%;
    color: var(--cor-descriptionFont);
}

#mainExplanationDemonDiv1 {
    width: 50%;
    margin-bottom: 20px;
}
#mainExplanationDemonDiv1 h2 {
    font-size: 32px;
    font-family: var(--fonte--3);
    margin-bottom: 5px;
}
#mainExplanationDemonDiv2 {
    padding: 0px 250px 150px 0px;
    text-align: center;
    position: relative;
}
#mainExplanationDemonDiv2Img img {
    position: absolute;
    right: -40px;
    bottom: 0px;
    width: 30%;
}

#mainExplanationDemonDiv3 {
    padding: 0px 0px 100px 250px;
    text-align: center;
    position: relative;
}
#mainExplanationDemonDiv3Img img {
    position: absolute;
    left: -165px;
    top: -132px;
    width: 40%;
}

#mainExplanationDemonDiv4 {
    padding: 0px 0px 10px 200px;
    border-bottom: 1px solid gray;

    position: relative;
}
#mainExplanationDemonDiv4 h2 {
    font-size: 32px;
    font-family: var(--fonte--3);
    margin-bottom: 5px;
}
#mainExplanationDemonDiv4Img img {
    position: absolute;
    left: 20px;
    top: -5px;
    width: 15%;
}

#mainExplanationDemonDiv5 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}

#mainExplanationDemonDiv6 {
    padding: 0px 150px 0px 150px;
    text-align: center;
    margin-bottom: 50px;
    
}




#personagens {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;

}

#moonGridDemon {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px 15px;
    max-width: 1200px;
    height: 100%;
}

#moonGridSlayer {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px 15px;
    max-width: 1200px;
    height: 100%;
}

.moon {
    width: 220px;
    height: 350px;
    background: #262831;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 10px #0000005d;
    transition: .5s;
    border: 2px solid black;
    border-radius: 10px;
}
.moon:hover {
    border-top: 5px solid wheat;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
}

.moonDivContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, black 20%, transparent);
    color: wheat;
    padding: 15px;
    transition: .5s;
    visibility: hidden;
    margin-bottom: -100%;
}
.moon:hover  .moonDivContent {
    visibility: visible;
    cursor: pointer;
    margin-bottom: 0;
    border: 0px 1px 1px 1px solid wheat;
}

.moonKokushibo {
    background: url(../imagens/NEW/Upper_One-kokushibo.jpg) center ;
    background-size: cover;
}

.moonDoma {
    background: url(../imagens/NEW/Upper_Six_Doma_29.webp) center; 
    background-size: cover;
}

.moonAkaza {
    background: url(../imagens/NEW/Upper_Six_Akaza.jpg) center;
    background-size: cover;
}

.moonHantengu {
    background: url(../imagens/NEW/Upper_Four_Hantengu.jpg) center;
    background-size: cover;
}

.moonGyokko {
    background: url(../imagens/NEW/Upper_Five-Gyokko.webp) center;
    background-size: cover;
}

.moonGyutaro {
    background: url(../imagens/NEW/gyutaro-demon-slayer.webp) center;
    background-size: cover;
}

.moonDaki {
    background: #FF5794 url(../imagens/NEW/Daki-821x1024.webp) center;
    background-size: cover;
}

.moonKaigaku {
    background: url(../imagens/NEW/Upper_six_Kaigaku.jpg) center;
    background-size: cover;
}


.moonShinobu {
    background: url(../imagens/SHINOBU/f421fc9ddd7d1c499c5c576abd35912e.jpg) center;
    background-size: cover;
}

.moonRengoku {
    background: url(../imagens/RENGOKU/a004bed9b93383801037fcc83182784d.jpg) center;
    background-size: cover;
}

.moonTokito {
    background: url(../imagens/TOKITO/51714613506d90b5a5431e1a306f3622.jpg) center;
    background-size: cover;
}

.moonGyomei {
    background: url(../imagens/GYOMEI/55df7c5c7f17c7a725d4a2fe4b3ca011.jpg) center;
    background-size: cover;
}

.moonInosuke {
    background: url(../imagens/INOSUKE/6fabb2b852ebc415a4880deb973c0566.jpg) center;
    background-size: cover; 
}

.moonObanai {
    background: url(../imagens/OBANAI/ec39b73af5ce438d6e77e3a597f924ce.jpg) center;
    background-size: cover;
}

.moonTengen {
    background: url(../imagens/TENGEN/f9de850ed66f91d7489c9f7e152653f6.jpg) center;
    background-size: cover;
}

.moonSanemi {
    background: url(../imagens/SANEMI/74f6ad1f0664885df8c29df98a9ce7b3.jpg) center;
    background-size: cover;
}

.moonMitsuri {
    background: url(../imagens/MITSURI/eee64b45f263176605f695da75eb1352.jpg) right;
    background-size: cover;
}

.moonTomioka {
    background: url(../imagens/TOMIOKA/92dfbd5f28b35dd5417e59c5a55792a8.jpg) center;
    background-size: cover;
}

.moonYoriichi {
    background: url(../imagens/YORIICHI/e4e18fbfad0abc4b6b2c0e14ff38addd.jpg) center;
    background-size: cover;
}

.moonTangiro {
    background: url(../imagens/TANJIRO/a09c3bcb3ac116de06dcb2e71317cc53.png) center;
    background-size: cover;
}

.moonZenitsu {
    background: url(../imagens/ZENITSU/daa2322fd63504414a654678baa60e17.jpg) center;
    background-size: cover;
}

#footer {
    background: var(--cor-bgFooter);
    width: 100%;
}

#footerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr ;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 25px;
}

#footer h3 {
    color: darkgray;
    font-size: 24px;
}

#footerGuias {
    display: flex;
    justify-content: center;
    gap: 65px;
    padding-right: 15px;
    margin-right: 25px;
    border-right: 1px solid rgba(128, 128, 128, 0.425);
}

#footerGuiaDemon {
    display: flex;
    flex-direction: column;
}

#footerGuiaHashira {
    display: flex;
    flex-direction: column;
}

#resources {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.footerLinkA {
    color: gray;
    text-decoration: none;
}
.footerLinkA:hover {
    color: #646464;
    text-decoration: underline;
}



#footerSocial {
    display: flex;
    flex-direction: column;
    color: gray;
}

#footerSocialIcon {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

#footerSocialIcon .fa-brands {
    font-size: 35px;
    color: gray;
}
#footerSocialIcon .fa-brands:hover {
    color: #646464;
}

#secCredit {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #222222;
    color: gray;
}
#secCredit a {
    text-decoration: none;
    color: gray;
}





/* A Q U I  C O M E Ç A  O S  C A R D S  I N D E X */

#mainCharacterWrapepr {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
    position: relative;
}

#informationTie {
    background: #646060b2;
    width: 300px;
    padding: 15px;

    position: absolute;
    top: 0px;
    left: 100px;
    bottom: 0px;
}
#informationTie h1 {
    color: white;
    font-family: var(--fonte--1);
    font-size: 58px;
    margin-left: 35%;
    animation: informationTieH1 2s ;
}
#detailsTie {
    padding: 25px;
    border-left: 1px solid white;
    
    position: relative;
}
#informationTie p {
    color: white;
    font-family: var(--fonte--4);
    font-size: 20px;
    position: relative;
}
#informationTie p:not(:last-child) {
    margin-bottom: 35px;
}

#informationTie p::after {
    content: "";
    width: 50%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    animation: detailsTieP 1.5s;
    left: 0px;
}

#characterFullBody {
    display: none;
    width: 120px;

    position: absolute;
    bottom: 0;
    right: 0;
}
#characterFullBody img {
    width: 100%;
}


#mainFhotoCharacter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px auto;
    width: 900px;
    height: 700px;
}

#mainFhotoCharacter img {
    height: 100%;
}

#buttonsDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    right: 0;
    bottom: 100px;
}


#mainKokushibo {
    background: url(../imagens/KOKUSHIBO/upper_moon_1_kokushibo_png_by_tar3kk_dfxmm8f-pre.png) no-repeat, radial-gradient(ellipse at top, var(--cor-kokushibo--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-kokushibo--3), var(--cor-kokushibo--1));
    background-size: cover;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.kokushibo {
    background: linear-gradient(to top, var(--cor-kokushibo--2) 15%, var(--cor-kokushibo--4), var(--cor-kokushibo--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.kokushibo2 {
    background: linear-gradient(to top, var(--cor-kokushibo--2) 15%, var(--cor-kokushibo--4), var(--cor-kokushibo--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.kokushibo:active {
    background: black;
    color: var(--cor-kokushibo--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.kokushibo2:active {
    background: black;
    color: var(--cor-kokushibo--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainDoma {
    background: url(../imagens/DOMA/Imagem_2023-05-28_183322728.webp) no-repeat center right, radial-gradient(ellipse at top, var(--cor-doma--4), transparent),
    radial-gradient(ellipse at bottom, var(--cor-doma--3), var(--cor-doma--1));
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.doma {
    background: linear-gradient(to top, var(--cor-doma--4) 30%, var(--cor-doma--2), var(--cor-doma--3));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.doma2 {
    background: linear-gradient(to top, var(--cor-doma--4) 30%, var(--cor-doma--2), var(--cor-doma--3));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.doma:active {
    background: black;
    color: var(--cor-doma--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.doma2:active {
    background: black;
    color: var(--cor-doma--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainAkaza {
    background: url(../imagens/AKAZA/Akaza-PNG-Clipart.png) no-repeat,radial-gradient(ellipse at top, var(--cor-akaza--3), transparent),
    radial-gradient(ellipse at bottom, var(--cor-akaza--1), var(--cor-akaza--3));
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.akaza {
    background: linear-gradient(to top, var(--cor-akaza--3) 15%, var(--cor-akaza--2), var(--cor-akaza--1));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.akaza2 {
    background: linear-gradient(to top, var(--cor-akaza--3) 15%, var(--cor-akaza--2), var(--cor-akaza--1));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.akaza:active {
    background: black;
    color: var(--cor-akaza--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.akaza2:active {
    background: black;
    color: var(--cor-akaza--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainHantengu {
    background: url(../imagens/HANTENGU/334236003_200363299247458_7802008306760493539_n.png) no-repeat, radial-gradient(ellipse at top, var(--cor-hantengu--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-hantengu--2), var(--cor-hantengu--4));
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.hantengu {
    background: linear-gradient(to top, var(--cor-hantengu--4), var(--cor-hantengu--1) 15%, var(--cor-hantengu--2));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.hantengu2 {
    background: linear-gradient(to top, var(--cor-hantengu--4), var(--cor-hantengu--1) 15%, var(--cor-hantengu--2));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.hantengu:active {
    background: black;
    color: var(--cor-hantengu--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.hantengu2:active {
    background: black;
    color: var(--cor-hantengu--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainGyokko {
    background: url(../imagens/GYOKKO/621bcd834bf03534fffd7d99_Gyokko.png) no-repeat center right, radial-gradient(ellipse at top, var(--cor-gyokko--3), transparent),
    radial-gradient(ellipse at bottom, var(--cor-gyokko--3), var(--cor-gyokko--2));
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.gyokko {
    background: linear-gradient(to top, var(--cor-gyokko--4), var(--cor-gyokko--1) 15%, var(--cor-gyokko--2));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.gyokko2 {
    background: linear-gradient(to top, var(--cor-gyokko--4), var(--cor-gyokko--1) 15%, var(--cor-gyokko--2));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.gyokko:active {
    background: black;
    color: var(--cor-gyokko--2);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.gyokko2:active {
    background: black;
    color: var(--cor-gyokko--2);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainGyutaro {
    background: url(../imagens/GYUTARO/6162.webp) no-repeat center right,radial-gradient(ellipse at top, var(--cor-gyutaro--2), transparent),
    radial-gradient(ellipse at bottom, var(--cor-gyutaro--1), var(--cor-gyutaro--4));
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.gyutaro {
    background: linear-gradient(to top, var(--cor-gyutaro--2), var(--cor-gyutaro--1) 15%, var(--cor-gyutaro--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.gyutaro2 {
    background: linear-gradient(to top, var(--cor-gyutaro--2), var(--cor-gyutaro--1) 15%, var(--cor-gyutaro--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.gyutaro:active {
    background: black;
    color: var(--cor-gyutaro--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.gyutaro2:active {
    background: black;
    color: var(--cor-gyutaro--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainDaki {
    background: url(../imagens/DAKI/kimetsu_no_yaiba__yuukaku_hen___daki_by_sayuricell_dezvo19-pre.png) no-repeat center right, radial-gradient(ellipse at top, var(--cor-daki--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-daki--4), var(--cor-daki--3));
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.daki {
    background: linear-gradient(to top, var(--cor-daki--2), var(--cor-daki--1) 15%, var(--cor-daki--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.daki2 {
    background: linear-gradient(to top, var(--cor-daki--2), var(--cor-daki--1) 15%, var(--cor-daki--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.daki:active {
    background: black;
    color: var(--cor-daki--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.daki2:active {
    background: black;
    color: var(--cor-daki--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainKaigaku {
    background: url(../imagens/KAIGAKU/kaigaku__human_render_by_lxker1x_df06p28-fullview.png) no-repeat center right, radial-gradient(ellipse at top, var(--cor-kaigaku--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-kaigaku--4), var(--cor-kaigaku--1));
    background-size: contain;
    width: 100%;
    overflow: hidden;
}

.buttonStatistics.kaigaku {
    background: linear-gradient(to top, var(--cor-kaigaku--2), var(--cor-kaigaku--1) 15%, var(--cor-kaigaku--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.kaigaku2 {
    background: linear-gradient(to top, var(--cor-kaigaku--2), var(--cor-kaigaku--1) 15%, var(--cor-kaigaku--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonStatistics:active.kaigaku:active {
    background: black;
    color: var(--cor-kaigaku--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.kaigaku2:active {
    background: black;
    color: var(--cor-kaigaku--4);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainShinobu {
    background: url(../imagens/SHINOBU/shinobu-insect-hashira-Critical-Hits.jpg) no-repeat, radial-gradient(ellipse at top, var(--cor-shinobu--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-shinobu--3), var(--cor-shinobu--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.shinobu {
    background: linear-gradient(to top, var(--cor-shinobu--1) 15%, var(--cor-shinobu--3), var(--cor-shinobu--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.shinobu2 {
    background: linear-gradient(to top, var(--cor-shinobu--1) 15%, var(--cor-shinobu--3), var(--cor-shinobu--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.shinobu:active {
    background: black;
    color: var(--cor-shinobu--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.shinobu2:active {
    background: black;
    color: var(--cor-shinobu--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainRengoku {
    background: url(../imagens/RENGOKU/Rengoku_Anime.webp) no-repeat, radial-gradient(ellipse at top, var(--cor-rengoku--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-rengoku--3), var(--cor-rengoku--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.rengoku {
    background: linear-gradient(to top, var(--cor-rengoku--1) 15%, var(--cor-rengoku--3), var(--cor-rengoku--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.rengoku2 {
    background: linear-gradient(to top, var(--cor-rengoku--1) 15%, var(--cor-rengoku--3), var(--cor-rengoku--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.rengoku:active {
    background: black;
    color: var(--cor-rengoku--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.rengoku2:active {
    background: black;
    color: var(--cor-rengoku--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainTokito {
    background: url(../imagens/TOKITO/muichiro-tokito-demon-slayer-has.webp) no-repeat, radial-gradient(ellipse at top, var(--cor-tokito--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-tokito--3), var(--cor-tokito--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.tokito {
    background: linear-gradient(to top, var(--cor-tokito--1) 15%, var(--cor-tokito--3), var(--cor-tokito--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.tokito2 {
    background: linear-gradient(to top, var(--cor-tokito--1) 15%, var(--cor-tokito--3), var(--cor-tokito--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.tokito:active {
    background: black;
    color: var(--cor-tokito--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.tokito2:active {
    background: black;
    color: var(--cor-tokito--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainGyomei {
    background: url(../imagens/GYOMEI/bwzjzw2dyrzb1.jpg) no-repeat, radial-gradient(ellipse at top, var(--cor-gyomei--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-gyomei--3), var(--cor-gyomei--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.gyomei {
    background: linear-gradient(to top, var(--cor-gyomei--1) 15%, var(--cor-gyomei--3), var(--cor-gyomei--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.gyomei2 {
    background: linear-gradient(to top, var(--cor-gyomei--1) 15%, var(--cor-gyomei--3), var(--cor-gyomei--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.gyomei:active {
    background: black;
    color: var(--cor-gyomei--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.gyomei2:active {
    background: black;
    color: var(--cor-gyomei--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainObanai {
    background: url(../imagens/OBANAI/588068231798db9a752b707e0c08db90.jpeg) no-repeat, radial-gradient(ellipse at top, var(--cor-obanai--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-obanai--3), var(--cor-obanai--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.obanai {
    background: linear-gradient(to top, var(--cor-obanai--2) 15%, var(--cor-obanai--3), var(--cor-obanai--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.obanai2 {
    background: linear-gradient(to top, var(--cor-obanai--2) 15%, var(--cor-obanai--3), var(--cor-obanai--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.obanai:active {
    background: black;
    color: var(--cor-obanai--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.obanai2:active {
    background: black;
    color: var(--cor-obanai--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}


#mainTengen {
    background: url(../imagens/TENGEN/f9de850ed66f91d7489c9f7e152653f6.jpg) no-repeat, radial-gradient(ellipse at top, var(--cor-tengen--1), transparent),
    radial-gradient(ellipse at bottom, var(--cor-tengen--3), var(--cor-tengen--1));
    background-size: cover;
    background-position: top;
    width: 100%;
    overflow: hidden;

    position: relative;
}

.buttonStatistics.tengen {
    background: linear-gradient(to top, var(--cor-tengen--2) 15%, var(--cor-tengen--3), var(--cor-tengen--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics.tengen2 {
    background: linear-gradient(to top, var(--cor-tengen--2) 15%, var(--cor-tengen--3), var(--cor-tengen--4));
    color: white;
    font-weight: 400;
    font-family: var(--fonte--2);
    font-size: 28px;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.buttonStatistics:active.tengen:active {
    background: black;
    color: var(--cor-tengen--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}
.buttonStatistics:active.tengen2:active {
    background: black;
    color: var(--cor-obanai--3);
    box-shadow: inset 0px 0px 20px 10px #ff000040;
    transform: scale(.95);
}





/* A Q U I  C O M E Ç A  A  A R E A  D A S  E S T A T I S T I C A */

.modalEstatisticas {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(5px);
    animation: animaçãoEstatisticaAtivar .2s;
}
#estatisticasWrapperFechar {
    position: absolute;
    top: 5px;
    right: -50px;
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    z-index: 1;
    transition: .2s;
}
#estatisticasWrapperFechar:hover{
    background-color: #db0808;
    transform: scale(1.2);
    cursor: pointer;
}
.ModalEstatisticasAtivar{
    display: flex;
}

#estatisticasWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #384146;
    box-shadow: 0px 0px 10px black;
    width: 720px;
    height: 500px;
    border-radius: 10px;
    z-index: 10;
}

#estatisticas {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    position: relative;
    width: 660px;
    height: 440px;
    border: 5px solid white;
    padding-bottom: 10px;
}

#estatisticaNome {
    position: absolute;
    top: 15px;
    left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: #00000040;
    border-radius: 10px;
    color: white;
}

#estatisticasEspecificacao {  
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 40px;

    width: 90%;
    height: 350px;
    padding: 15px;

    border-top: 1px solid white;
}

.estaClasse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    background: #00000040;
    transition: .2s;
}
.estaClasse:hover {
    box-shadow: 0px 0px 10px 5px #00000052;
    cursor: pointer;
    transform: scale(1.05);
}
.estaNome {
    font-size: 24px;
    color: white;
    font-family: var(--fonte--2);
}

.estaDiv {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #00000040;
    width: 50%;
    height: 90%;
}

@keyframes barraEsta {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: 100%;
    }
    100%{
        background-position-x: 0%;
    }
}

.divPersentKokushibo.força {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-kokushibo--3), var(--cor-kokushibo--4),var(--cor-kokushibo--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentKokushibo.velocidade {
    width: 95%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-kokushibo--3), var(--cor-kokushibo--4),var(--cor-kokushibo--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentKokushibo.experiencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-kokushibo--3), var(--cor-kokushibo--4),var(--cor-kokushibo--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentKokushibo.resistencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-kokushibo--3), var(--cor-kokushibo--4),var(--cor-kokushibo--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentDoma.força {
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-doma--4), var(--cor-doma--3),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentDoma.velocidade {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-doma--4), var(--cor-doma--3),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentDoma.experiencia {
    width: 65%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-doma--4), var(--cor-doma--3),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentDoma.resistencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-doma--4), var(--cor-doma--3),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentAkaza.força {
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-akaza--1), var(--cor-akaza--2),var(--cor-akaza--3));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentAkaza.velocidade {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-akaza--1), var(--cor-akaza--2),var(--cor-akaza--3));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentAkaza.experiencia {
    width: 75%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-akaza--1), var(--cor-akaza--2),var(--cor-akaza--3));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentAkaza.resistencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-akaza--1), var(--cor-akaza--2),var(--cor-akaza--3));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentHantengu.força {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-hantengu--1), var(--cor-hantengu--3),var(--cor-hantengu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentHantengu.velocidade {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-hantengu--1), var(--cor-hantengu--3),var(--cor-hantengu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentHantengu.experiencia {
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-hantengu--1), var(--cor-hantengu--3),var(--cor-hantengu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentHantengu.resistencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-hantengu--1), var(--cor-hantengu--3),var(--cor-hantengu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentGyokko.força {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyokko--1), var(--cor-doma--2),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyokko.velocidade {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyokko--1), var(--cor-doma--2),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentGyokko.experiencia {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyokko--1), var(--cor-doma--2),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyokko.resistencia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyokko--1), var(--cor-doma--2),var(--cor-doma--4));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentGyutaro.força {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyutaro--2), var(--cor-gyutaro--3),var(--cor-gyutaro--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyutaro.velocidade {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyutaro--2), var(--cor-gyutaro--3),var(--cor-gyutaro--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentGyutaro.experiencia {
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyutaro--2), var(--cor-gyutaro--3),var(--cor-gyutaro--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyutaro.resistencia {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyutaro--2), var(--cor-gyutaro--3),var(--cor-gyutaro--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentDaki.força {
    width: 15%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-daki--1), white, var(--cor-daki--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentDaki.velocidade {
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-daki--1), white, var(--cor-daki--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentDaki.experiencia {
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-daki--1), white, var(--cor-daki--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentDaki.resistencia {
    width: 50%; 
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-daki--1), white, var(--cor-daki--1));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentKaigaku.força {
    width: 35%;
    height: 100%;
    background-image: linear-gradient(to left, #BEF7F3, white,#BEF7F3);
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentKaigaku.velocidade {
    width: 95%;
    height: 100%;
    background-image: linear-gradient(to left, #BEF7F3, white,#BEF7F3);
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentKaigaku.experiencia {
    width: 5%;
    height: 100%;
    background-image: linear-gradient(to left, #BEF7F3, white,#BEF7F3);
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentKaigaku.resistencia {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to left, #BEF7F3, white,#BEF7F3);
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentShinobu.força {
    width: 1%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-shinobu--3), var(--cor-shinobu--4),var(--cor-shinobu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentShinobu.velocidade {
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-shinobu--3), var(--cor-shinobu--4),var(--cor-shinobu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentShinobu.experiencia {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-shinobu--3), var(--cor-shinobu--4),var(--cor-shinobu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentShinobu.resistencia {
    width: 10%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-shinobu--3), var(--cor-shinobu--4),var(--cor-shinobu--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentRengoku.força {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-rengoku--3), var(--cor-rengoku--4),var(--cor-rengoku--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentRengoku.velocidade {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-rengoku--3), var(--cor-rengoku--4),var(--cor-rengoku--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentRengoku.experiencia {
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-rengoku--3), var(--cor-rengoku--4),var(--cor-rengoku--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentRengoku.resistencia {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-rengoku--3), var(--cor-rengoku--4),var(--cor-rengoku--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentTokito.força {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tokito--3), var(--cor-tokito--4),var(--cor-tokito--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentTokito.velocidade {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tokito--3), var(--cor-tokito--4),var(--cor-tokito--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentTokito.experiencia {
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tokito--3), var(--cor-tokito--4),var(--cor-tokito--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentTokito.resistencia {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tokito--3), var(--cor-tokito--4),var(--cor-tokito--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentGyomei.força {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyomei--3), var(--cor-gyomei--4),var(--cor-gyomei--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyomei.velocidade {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyomei--3), var(--cor-gyomei--4),var(--cor-gyomei--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentGyomei.experiencia {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyomei--3), var(--cor-gyomei--4),var(--cor-gyomei--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentGyomei.resistencia {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-gyomei--3), var(--cor-gyomei--4),var(--cor-gyomei--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentObanai.força {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-obanai--3), var(--cor-obanai--4),var(--cor-obanai--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentObanai.velocidade {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-obanai--3), var(--cor-obanai--4),var(--cor-obanai--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentObanai.experiencia {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-obanai--3), var(--cor-obanai--4),var(--cor-obanai--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentObanai.resistencia {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-obanai--3), var(--cor-obanai--4),var(--cor-obanai--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}






.divPersentTengen.força {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tengen--3), var(--cor-tengen--4),var(--cor-tengen--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentTengen.velocidade {
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tengen--3), var(--cor-tengen--4),var(--cor-tengen--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;  
}
.divPersentTengen.experiencia {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tengen--3), var(--cor-tengen--4),var(--cor-tengen--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}
.divPersentTengen.resistencia {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-tengen--3), var(--cor-tengen--4),var(--cor-tengen--2));
    background-size: 500% 100%;
    animation: barraEsta 5s infinite;
}